
<div class="cards-fundraiser-container">
    <div class="cards-fundraiser" style="background-color: var(--primary-color)">
        <span style="color: #fff; font-size: 3rem; font-weight: 800;">
            {{ dash_data.campaigns }}
        </span>
        <span style="font-size: 16px; font-weight: 700; color: #fff;">
            Total No. of Campaigns
        </span>
    </div>
    <div class="cards-fundraiser" style="background-color: var(--success-color); padding-left: 10px; padding-right: 10px;">
        <span style="color: #fff; font-size: 3rem; font-weight: 800; text-wrap: wrap;">
            {{ dash_data.totalAmount }}
        </span>
        <span style="font-size: 16px; font-weight: 700; color: #fff;">
            Amount Recieved
        </span>
    </div>
    <div class="cards-fundraiser" style="background-color: var(--error-color)">
        <span style="color: #fff; font-size: 3rem; font-weight: 800;">
            {{ dash_data.rejected }}
        </span>
        <span style="font-size: 16px; font-weight: 700; color: #fff;">
            Rejected Campaigns
        </span>
    </div>
</div>

{% if messages %}
    <div class="messages" id="err-message">
        {% for message in messages %}
            <p class="error error-{{ message.tags }} text-center" id="err-msg">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% if campaigns %}
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Beneficiary</th>
                    <th scope="col">Location</th>
                    <th scope="col">Amount Needed</th>
                    <th scope="col">Amount Raised</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in campaigns %}
                    <tr>
                        <td>{{ forloop.counter }}</td> 
                        <td>{{ campaign.title }}</td> 
                        <td>{{ campaign.beneficiary }}
                        <td>{{ campaign.location }}</td>
                        <td>{{ campaign.amountNeeded }}
                        <td>{{ campaign.amountRaised }}</td>
                        <td>
                            <span
                                class="px-2 py-1 border rounded-pill"
                                style="
                                    font-size: 14px; 
                                    font-weight: 500;
                                    background-color: 
                                    {% if campaign.status == "rejected" %}
                                            var(--error-color)
                                        {% elif campaign.status == "inactive" %}
                                            var(--text-color)
                                        {% elif campaign.status == "active" %}
                                            var(--success-color)
                                        {% elif campaign.status == "done" %}
                                            var(--primary-color)
                                    {% endif %};
                                    color: white;
                                "
                            >
                                {{ campaign.status }}
                            </span>
                        </td>
                        <td>
                            <div style="display: flex; gap: 16px; align-items: center; justify-content: center;">
                                <a 
                                    style="font-size: 16px; color: var(--primary-color); font-weight: 600; cursor: pointer;"
                                    href="{% url 'update_campaign' campaign.pk %}"
                                >
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <span 
                                    style="font-size: 16px; color: red; font-weight: 600; cursor: pointer;" 
                                    hx-delete="{% url 'delete_campaign' campaign.pk %}"
                                    hx-target="#campaign-list"
                                    hx-confirm="Are you sure you want to delete?"
                                >
                                    <i class="bi bi-trash3-fill"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>You do not have any campaigns.</p>
{% endif %}

<script>
    //document.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(() => {
            const message = document.getElementById('err-message');
            message.style.opacity = '0';

            setTimeout(() => {
                message.style.display = 'none';
            }, 1000); 
        }, 5000);
    //});
</script>