{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- bootsrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>
    <style>
        body{
            padding-top: 56px;
        }
        .navbar{
            background-color: #343a40;
            padding-left: 12px !important;
            padding-right: 16px !important;
        }
        .navbar-brand, .nav-link{
            color: #fff !important;
        }
        .container{
            margin-top: 20px;
        }
        .dropdown-menu-right-margin {
            margin-right: 15px; /* Adjust the value as needed */
        }
        .avatar {
            display: flex !important;
            align-items: center !important;
            background-color: #fff;
            width: 200px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a href="{% url 'home' %}" class="navbar-brand">
            FA
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" arai-control="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation"
            style="background-color: white;"
        >
            <span class="navbar-toggler-icon" style="color: white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% if profile %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'campaigns' %}" class="nav-link">Campaigns</a>
                </li>
            </ul>
            {% if profile %}
                <div class="btn-group d-flex align-items-center me-2">
                    <div class="image-container" data-bs-toggle="dropdown" style="cursor: pointer;">
                        <img src="{% if profile.image %}
                            {{ profile.image.url }}
                            {% else %}""
                            {% endif %}"
                            alt="Profile Image" 
                            class="profile-img" 
                        />
                        <div class="fallback-initials">{{ profile.initials }}</div>
                    </div>
                    <span id="username" class="ms-2 profile-text">{{ profile.first_name }}</span>
                    <i class="bi bi-caret-down-fill dropdown-toggle-split" style="color: white; cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" id="view-profile-link"
                                href="#" 
                                hx-get="{% url 'profile' %}" 
                                hx-target="#profile-dialog" 
                                data-bs-toggle="modal" 
                                data-bs-target="#profile-modal"
                            >View profile</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" 
                                href="#" 
                                hx-get="{% url 'logout_confirmation' %}" 
                                hx-target="#dialog" 
                                data-bs-toggle="modal" 
                                data-bs-target="#modal"
                            >Logout</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a
                    style="
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        width: 100px;
                        border-radius: 5px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border: 1px solid var(--primary-color);
                    "
                    class="login-link"
                    href="{% url 'login' %}"
                >
                    <span
                        style="
                            color: var(--primary-color);
                            font-size: 20px;
                            font-weight: 600;
                        "
                    >
                        <i class="bi bi-box-arrow-in-right"></i>
                    </span>
                    <span
                        style="font-weight: 600; color: var(--primary-color); font-size: 14px;"
                    >
                        Sign in
                    </span>
                </a>
            {% endif %} 
        </div>
    </nav>

    {% block content %}{% endblock  %}

    <div id="modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div id="dialog" class="modal-dialog modal-dialog-centered" hx-target="this"></div>
    </div>

    <div id="profile-modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div id="profile-dialog" class="modal-dialog modal-dialog-centered modal-dialog-scrollable" hx-target="this"></div>
    </div>

    {% block scripts %}{% endblock %}

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

    <script
        src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>